<html>
<head>
<link rel="stylesheet" href="./css/style.css" />
</head>
<body>
<h1>NASA APOD</h1>

<h1><%= apidata.title %></h1>
<h2><%= apidata.date %></h2>
<p><%= apidata.explanation %></p>

<% if(apidata.media_type === "video") { %>
<iframe width="420" height="315"
src="<%= apidata.url %>">
</iframe>
<%} else { %>
<img src="<%= apidata.url %>" alt="<%= apidata.title %>" width="500" height="600" >
<% } %>
</body>
</html>
